body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.15s linear;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong,
b {
    font-weight: 700;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
 */
abbr,
acronym {
    border: 0;
}

@font-face {
    font-family: 'Circe-Bold';
    src: url('../fonts/Circe-Bold.eot');
    src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe-Bold.ttf') format('truetype'),
    url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-ExtraLight';
    src: url('../fonts/Circe-ExtraLight.eot');
    src: url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-ExtraLight.woff') format('woff'),
    url('../fonts/Circe-ExtraLight.ttf') format('truetype'),
    url('../fonts/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Light';
    src: url('../fonts/Circe-Light.eot');
    src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype'),
    url('../fonts/Circe-Light.svg#Circe-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Regular';
    src: url('../fonts/Circe-Regular.eot');
    src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype'),
    url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Thin';
    src: url('../fonts/Circe-Thin.eot');
    src: url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Thin.woff') format('woff'),
    url('../fonts/Circe-Thin.ttf') format('truetype'),
    url('../fonts/Circe-Thin.svg#Circe-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: 'Circe-ExtraLight'; */
    font-family: 'Circe-Light';
    background: #fff;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

b {
    font-weight: normal;
    font-family: 'Circe-Regular';
}

a {
    transition: all .15s linear;
}

.clr {
    clear: both;
}

body>div {
    transition: all .15s linear;
}

.sector1 {
    height: 100vh;
    background: #0b1835;
    width: 90%;
    padding: 0 5%;
    color: #fff;
    position: relative;
}

.logo {
    font-size: 18px;
    font-family: 'Circe-ExtraLight';
    font-weight: bold;
    color: #de0000;
    float: right;
    margin: 43px 0 0 0;
    position: relative;
    z-index: 3;
    transition: all .15s linear;
}

.logo:hover {
    color: #d73a40!important;
}


/**/

.white_head {
    background: rgba(255, 255, 255, 0.4);
}

.white_head .logo {
    color: #000;
}

.white_head ul li a {
    color: #000!important;
}

.white_head ul li+li:after {
    color: #d4d4d4!important;
}


/**/

.black_head {
    background: transparent;
}

.black_head .logo {
    color: #fff;
}

.black_head ul li a {
    color: #fff!important;
}

.black_head ul li+li:after {
    color: #fff!important;
}



/**/

.black_headuno {
    background: transparent;
}

.black_headuno .logo {
    color: #000;
}

.black_headuno ul li a {
    color: #000!important;
}

.black_headuno ul li+li:after {
    color: #000!important;
}


/**/

.white_head2 {
    background: rgba(255, 255, 255, 0.4);
}

.white_head2 .logo {
    color: #000;
}

.white_head2 ul li a {
    color: #000!important;
}

.white_head2 ul li+li:after {
    color: #d4d4d4!important;
}


/**/

.black_headuno2 {
    background: transparent;
}

.black_headuno2 .logo {
    color: #000;
}

.black_headuno2 ul li a {
    color: #000!important;
}

.black_headuno2 ul li+li:after {
    color: #000!important;
}


/**/

.black_head3 {
    background: transparent;
}

.black_head3 .logo {
    color: #fff;
}

.black_head3 ul li a {
    color: #fff!important;
}

.black_head3 ul li+li:after {
    color: #fff!important;
}



.head_menu {
    width: 90%;
    margin: 0 auto;
    padding: 0 5% 10px;
    position: fixed;
    z-index: 99;
}

.head_menu.page {
    background: #0b1835;
    padding: 0 5% 35px;
}

.head_menu ul {
    float: left;
    margin: 50px 0 0 0;
    position: relative;
    z-index: 3;
    transition: all .15s linear;
}

.head_menu ul li {
    float: left;
    font-size: 13px;
    position: relative;
    padding: 0 15px;
}

.head_menu ul li a {
    color: #fff;
    padding: 15px 0;
    transition: all .15s linear;
    border-bottom: 1px solid transparent;
}

.head_menu ul li+li:after {
    content: '|';
    height: 18px;
    position: absolute;
    top: 0;
    left: -2px;
    color: #fff;
}

.head_menu ul li a:hover {
    border-bottom: 1px solid #d73a40;
}

.sector1 h1 {
    font-size: 116px;
    font-family: 'Circe-Regular';
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
    padding: 90px 0 0 0;
}

.sector1 h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 3;
}

.sector1 h2 svg {
    width: 60%;
    height: auto;
}

.sector1 h2 span {
    position: relative;
}

.sector1 h2 span:after {
    content: '';
    position: absolute;
    left: -60%;
    top: 18px;
    width: 50%;
    border-top: 1px solid #d73a40;
}

.sector1 h2 span:before {
    content: '';
    position: absolute;
    right: -60%;
    top: 18px;
    width: 50%;
    border-top: 1px solid #d73a40;
}

.date_start {
    font-size: 36px;
    text-align: center;
    font-family: 'Circe-Regular';
    position: relative;
    z-index: 3;
}

.block_okl {
    margin: 55px 0 0 0;
    display: block;
    position: relative;
}


/* timer */

#timer-number-2d61c9af123262841bda2a33ac1ca7e2-days,
#timer-number-2d61c9af123262841bda2a33ac1ca7e2-hours,
#timer-number-2d61c9af123262841bda2a33ac1ca7e2-minutes,
#timer-number-2d61c9af123262841bda2a33ac1ca7e2-secundes {
    position: relative;
}

#timer-number-2d61c9af123262841bda2a33ac1ca7e2-days:after {
    content: 'DAYS';
    position: absolute;
    bottom: -15px;
    color: #e6e6e6;
    font-size: 14px;
    left: 0;
    right: 0;
    font-family: 'Circe-Thin';
}

#timer-number-2d61c9af123262841bda2a33ac1ca7e2-hours:after {
    content: 'HOURS';
    position: absolute;
    bottom: -15px;
    color: #e6e6e6;
    font-size: 14px;
    left: 0;
    right: 0;
    font-family: 'Circe-Thin';
}

#timer-number-2d61c9af123262841bda2a33ac1ca7e2-minutes:after {
    content: 'MINUTES';
    position: absolute;
    bottom: -15px;
    color: #e6e6e6;
    font-size: 14px;
    left: 0;
    right: 0;
    font-family: 'Circe-Thin';
}

#timer-number-2d61c9af123262841bda2a33ac1ca7e2-secundes:after {
    content: 'SECONDS';
    position: absolute;
    bottom: -15px;
    color: #e6e6e6;
    font-size: 14px;
    left: 0;
    right: 0;
    font-family: 'Circe-Thin';
}

#timer2d61c9af123262841bda2a33ac1ca7e2 {
    padding: 0 0 20px;
    position: relative;
    z-index: 3;
}

.timer-slide-inner {
    font-family: 'Circe-Bold'!important;
    margin: 0 -5px;
}

.timer-separator {
    color: transparent!important;
    position: relative;
}

.timer-separator:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 1px;
    background: #d73a40;
}


/* */

.bonus_start {
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 3;
    margin: 30px 0;
}

.form_subscribe {
    margin: 150px auto 100px;
    width: 600px;
    position: relative;
    z-index: 3;
}

.form_subscribe .int_sub {
    font-size: 22px;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 12px 60px 13px 45px;
    background: transparent;
    outline: none;
    width: 330px;
    float: left;
    font-family: 'Circe-Light';
    border-bottom: 1px solid #434d64;
    float: left;
}

.form_subscribe .int_sub::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.form_subscribe .int_sub::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.form_subscribe .int_sub:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.form_subscribe .int_sub:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.form_subscribe .int_sub:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form_subscribe .int_sub:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form_subscribe .int_sub:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form_subscribe .int_sub:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.form_subscribe .sub_sub {
    font-size: 22px;
    font-family: 'Circe-Regular';
    padding: 12px 50px;
    background: transparent;
    border: 1px solid #434d64;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 40px;
    width: 200px;
    float: right;
    margin: 0 0 0 -200px;
    transition: all .15s linear;
}

.form_subscribe .sub_sub:hover {
    background: #ce2027;
    border: 1px solid #ce2027;
}

.form_subscribe:after {
    content: '';
    clear: both;
    display: table;
}

.slide1_logo,
.slide8_logo {
    width: 505px;
    height: 328px;
    position: absolute;
    top: 0;
    left: 0;
    /* -webkit-transform: translate(-50%, -50%); */
    -ms-transform: translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
    z-index: 3;
    bottom: 0;
    right: 0;
    margin: auto;
}

.slide1_logo svg,
.slide8_logo svg {
    fill: #172646;
}



/* */

.sector1 h1 {
    top: 5%;
}

.sector1 h2 {
    top: 5%;
}

.date_start {
    top: 8%;
}

.timer_start {
    margin-top: 2%;
}

.form_subscribe {
    top: 9%;
}

.timer_start {
    display: block;
    position: relative;
    z-index: 3;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.video {
    padding-top: 0;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*
#bg_video {
    width: 100%;
    background: url(../img/video_fon2.jpg) no-repeat;
    background-size: cover;
    z-index: 99;
    position: absolute;
    height: auto;
}
 */
#play {
    position: absolute;
    z-index: 99;
    color: #fff;
    width: 250px;
    border-radius: 40px;
    border: 1px solid #d73a40;
    height: 58px;
    font-size: 26px;
    cursor: pointer;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 15%;
    margin: 0 auto;
    transition: .3s ease-out;
}

#play .but_pl {
    width: 45px;
    height: 45px;
    background-color: #D73A40;
    border: 1px solid #D73A40;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    color: #fff;
    line-height: 0;
    font-size: 16px;
    letter-spacing: 0.025em;
    font: normal 400 16px "circe", sans-serif;
    border-radius: 100%;

    float: left;
    margin: 5px 0 0 5px;
}

#play .but_pl span {
    display: block;
    width: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    border-top: 8px solid transparent;
    border-left: 12px solid #fff;
    border-bottom: 8px solid transparent;
    -webkit-transition: border-left-color .3s ease-out;
    transition: border-left-color .3s ease-out;
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
    margin: 14px auto;
}

#play:hover .but_pl {}

#play:hover {
    background-color: #D73A40;
    color: #fff;
}

.text_b {
    float: left;
    margin: 10px 0 0 24px;
}

.section3 h3 {
    text-align: center;
    font-size: 60px;
    color: #d73a40;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section3 {
    /* height: 100vh; */
    width: 70%;
    padding: 0 15%;
    z-index: 3;
    position: relative;
    background: #fff;
}

.description_sect3 {
    font-size: 22px;
    color: #1d1d1d;
    width: 100%;
    /* float: left; */
    margin: 0;
}

.about_graph {
    margin: 7% auto 0;
    width: 90%;
    max-width: 100%;
}

.about_graph svg {
    display: block;
    width: 100%;
    height: auto;
}

.about-graph-svg .st5 {
    fill: none;
    stroke: #A6A9B1;
    stroke-miterlimit: 10;
    stroke-dasharray: 5;
}

.about-graph-svg .st0 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.about-graph-svg .st1 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.9095, 4.9095;
}

.about-graph-svg .st2 {
    fill: #D73A40;
}

.about-graph-svg .st3 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.8043, 4.8043;
}

.about-graph-svg .st4 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.9703, 4.9703;
}

.about-graph-svg .st5 {
    fill: none;
    stroke: #A6A9B1;
    stroke-miterlimit: 10;
    stroke-dasharray: 5;
}

.about-graph-svg .st6 {
    fill: #484747!important;
}

.about-graph-svg .st7 {
    opacity: 0.3;
}

.about-graph-svg .st8 {
    fill: none;
    stroke: #A6A9B1;
    stroke-miterlimit: 10;
}

.about-graph-svg .st9 {
    fill: none;
    stroke: #A6A9B1;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.9257, 4.9257;
}

.about_graph svg.about-graph-mobile-svg {
    display: none;
}

.about-graph-mobile-svg .st0 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.about-graph-mobile-svg .st1 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.9095, 4.9095;
}

.about-graph-mobile-svg .st2 {
    fill: #D73A40;
}

.about-graph-mobile-svg .st3 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.8043, 4.8043;
}

.about-graph-mobile-svg .st4 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.9703, 4.9703;
}

.about-graph-mobile-svg .st5 {
    fill: none;
    stroke: #A6A9B1;
    stroke-miterlimit: 10;
    stroke-dasharray: 5;
}

.about-graph-mobile-svg .st6 {
    fill: #FFFFFF;
}

.about-graph-mobile-svg .st7 {
    opacity: 0.3;
}

.about-graph-mobile-svg .st8 {
    fill: none;
    stroke: #A6A9B1;
    stroke-miterlimit: 10;
}

.about-graph-mobile-svg .st9 {
    fill: none;
    stroke: #A6A9B1;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.9257, 4.9257;
}

.section4 h3 {
    text-align: center;
    font-size: 60px;
    color: #d73a40;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section4 {

    width: 90%;
    padding: 0 5%;
    z-index: 3;
    position: relative;
    background: #fff;
}

.section4 ul {
    width: 80%;
    margin: 0 auto;
}

.section4 ul li {
    display: block;
    font-size: 23px;
    padding: 0 0 3%;
}

.desc_features {
    margin: 0 0 0 13%;
}

.desc_features p {
    font-family: 'Circe-Light';
    font-size: 24px;
}

.section4 ul li:after {
    content: '';
    clear: both;
    display: table;
}

.icons_features svg {
    fill: #D73A40;
    display: block;
    width: auto;
    height: 80px;
    margin: 0 auto;
}

.icons_features {
    height: 80px;
    width: 100px;
    float: left;
    position: relative;
}

.icons_features img {
    max-width: 100%;
    background-size: 100%;
    max-height: 80px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.section5 h3 {
    text-align: center;
    font-size: 60px;
    color: #d73a40;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section5 {

    width: 90%;
    padding: 0 5%;
    z-index: 3;
    position: relative;
    background: #fff;
}

.section5:after {
    content: '';
    clear: both;
    display: table;
}

.desc_sect5 {
    font-size: 20px;
}

.illustation_investor-svg .st0 {
    opacity: 0.5;
    fill: none;
    stroke: #A6AAB2;
    stroke-miterlimit: 10;
    stroke-dasharray: 5;
    enable-background: new;
}

.illustation_investor-svg .st1 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.illustation_investor-svg .st2 {
    fill: none;
    stroke: #D73A40;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.illustation_investor-svg .st3 {
    fill: none;
    stroke: #A6AAB2;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.illustation_investor-svg .st4 {
    fill: none;
    stroke: #A6AAB2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.illustation_investor-svg .st5 {
    fill: none;
    stroke: #A6AAB2;
    stroke-miterlimit: 10;
    stroke-dasharray: 5;
}

.illustation_investor-svg .st6 {
    fill: #FFFFFF;
    stroke: #D73A40;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.illustation_investor-svg .st7 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}


.illustratiion_algoritm-svg .st0 {
    fill: none;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.illustratiion_algoritm-svg .st1 {
    fill: none;
    stroke: #D73A40;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.illustratiion_algoritm-svg .st2 {
    fill: none;
    stroke: #A6AAB2;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.illustratiion_algoritm-svg .st3 {
    fill: none;
    stroke: #A6AAB2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.illustratiion_algoritm-svg .st4 {
    fill: none;
    stroke: #A6AAB2;
    stroke-miterlimit: 10;
    stroke-dasharray: 5;
}

.illustratiion_algoritm-svg .st5 {
    fill: #FFFFFF;
    stroke: #D73A40;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.illustratiion_algoritm-svg .st6 {
    fill: #D73C40;
}

.illustratiion_algoritm-svg .st7 {
    opacity: 0.5;
}


.section6 h3 {
    text-align: center;
    font-size: 60px;
    color: #d73a40;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section6 {

    width: 90%;
    padding: 0 5%;
    z-index: 3;
    position: relative;
    background: #fff;
}

.section6 ul {}

.section6 ul li {
    position: relative;
    padding: 0 0 4% 0;
}

.section6 ul li:after {
    content: '';
    clear: both;
    display: table;
}

.desc_icons_section6 {
    float: left;
    width: 30%;
}

.desc_icons_section6 svg {
    width: 100%;
    height: auto;
    display: block;
}

.desc_text_sect6 {
    float: left;
    width: 60%;
    margin: 0 0 0 10%;
    font-size: 22px;
}

.desc_text_sect6 p {
    font-family: 'Circe-Light';
    font-size: 50px;
    margin: 0 0 10px;
}

.first_li_sect6 svg {
    width: 80%;
    margin: 0 auto;
}




.section7 h3 {
    text-align: center;
    font-size: 60px;
    color: #d73a40;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section7 {
    width: 80%;
    padding: 0 10%;
    z-index: 3;
    position: relative;
    background: #fff;
}

#white {
    padding: 120px 0 0 0;
}

.section7 ul {
    padding: 0;
}

.section7 ul li {
    margin: 30px 0;
    overflow: hidden;
    cursor: pointer;
}

.section7 ul li+li .date_subsc_sect7 {
    border-top: 1px dashed #9B9FA7;
    padding-top: 20px;
}

.section7 ul li:after {
    content: '';
    clear: both;
    display: table;
}

.section7:after {
    content: '';
    clear: both;
    display: table;
}

.section7 ul li ul {
    margin: 0;
    padding: 0;
}

.section7 ul li ul li {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 55px;
    font-size: 22px;
    border: none!important;
}

.section7 ul li ul li:after {
    position: absolute;
    content: '';
    top: 17px;
    left: 0;
    width: 40px;
    height: 2px;
    background: #d73a40;
}

.date_subsc_sect7 {
    font-size: 30px;
    font-family: 'Circe-Light';
    background: #fff;
    position: relative;
    z-index: 2;
}

.date_subsc_sect7 p {
    font-size: 40px;
    color: #d73a40;
    font-family: 'Circe-Bold';
}

.anim-item {
    display: none;
}


.section8 h3 {
    text-align: center;
    font-size: 60px;
    color: #fff;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section8 {
    height: 360px;
    width: 80%;
    padding: 0 10%;
    position: relative;
    z-index: 3;
}




#particles-js {
    background: #0b1835;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.whitepaper_link {
    font-size: 26px;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 40px;
    display: inline-block;
    margin: 0 10px;
}

.whitepaper_link:hover {
    background: #d73a40;
    border: 1px solid #d73a40;
}

.white_link {
    width: 100%;
    text-align: center;
    margin: 30px 0 0 0;
}

.section_9 {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: flex-start;
    min-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(229, 231, 236);
    opacity: 0.5;
    border-radius: 4px;
}

.section_91 {
    font-family: 'Circe-Light';
    font-size: 20px;
    color: rgb(14, 49, 89);
    letter-spacing: 0px;
    margin-left: 20px;
    line-height: 20px;
    min-width: 190px;
}

.section_92 {
    font-family: 'Circe-Light';
    font-size: 20px;
    text-align: left;
    color: rgb(14, 49, 89);
    letter-spacing: 0px;
    margin-left: 100px;
    line-height: 20px;
    min-width: 250px;
}

.section_93 {
    font-family: 'Circe-Light';
    font-size: 20px;
    color: rgb(14, 49, 89);
    letter-spacing: 0px;
    line-height: 20px;
    min-width: 210px
}

.section_93 a {
    text-decoration: underline black;
    color: rgb(14, 49, 89);
}

.section9 h3 {
    text-align: center;
    font-size: 60px;
    color: #d73a40;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section9 {
    width: 100%;
    padding: 0 10%;
    z-index: 3;
    position: relative;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section9 ul {
    width: 94%;
    margin: 0 auto;
    text-align: center;
}

.section9 ul li {
    width: 18%;
    margin: 0 3% 43px;
    display: inline-block;
    vertical-align: top;
}

.section9 ul li:after {
    content: '';
    clear: both;
    display: table;
}

.user_photo {
    width: 100%;
    /* height: 270px; */
    display: block;
    position: relative;
}

.user_photo img {
    width: 100%;
    height: auto;
}

.user_name {
    font-weight: 700;
    text-align: left;
    font-size: 28px;
    font-family: 'Circe-Light';
    margin: 10px 0 -8px 0;
    line-height: 34px;
}

.user_name a {
    color: currentColor;
}

.user_name_1 {
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    font-family: 'Circe-Light';
    margin: 10px 0 -8px 0;
    line-height: 34px;
}

.job_user {
    font-size: 16px;
    text-align: left;
    color: #868686;
    font-family: 'Circe-Light';
    margin: 15px 0 0 0;
    display: block;
}


.link_more_team {
    padding: 40px 0;
    text-align: center;
}

.link_more_team a {
    display: inline-block;
    font-size: 24px;
    font-family: 'Circe-Light';
    color: #d73a40;
    border: 1px solid #d73a40;
    border-radius: 40px;
    padding: 12px 60px;
}

.link_more_team a:hover {
    background-color: #d73a40;
    color: #fff;
}





.section10 h3 {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    color: #040404;
    padding: 50px 0;
    font-family: 'Circe-Regular';
}

.section10 {
    width: 90%;
    padding: 0 5%;
    z-index: 3;
    position: relative;
    background: #fff;
}

.logo_mera {
    width: 25%;
    margin: 0 auto;
    padding: 50px 0 120px;
}

.logo_mera span {
    position: relative;
}

.logo_mera span:after {
    position: absolute;
    content: '';
    width: 120%;
    border-top: 1px solid #d73a40;
    top: 4px;
    left: -150%;
}

.logo_mera span:before {
    position: absolute;
    content: '';
    width: 120%;
    border-top: 1px solid #d73a40;
    top: 4px;
    right: -150%;
}



.section11 {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.section11 h3 {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    padding: 25px 0;
    font-family: 'Circe-Regular';
}

.slide9_links {
    text-align: center;
    padding: 10px 0px;
}

.slide8_links {
    text-align: center;
    padding: 70px 0;
}

.slide8_link svg {
    display: block;
    width: 100%;
    fill: #fff;
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
}

.slide8_link:hover svg {
    fill: #d73a40;
}

.slide8_link {
    display: inline-block;
    width: 5%;
    margin: 0;
}

.slide10_links {
    text-align: center;
    position: relative;
    z-index: 3;
}

.slide10_link svg {
    display: block;
    width: 100%;
    fill: #767676;
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
}

.slide10_link:hover svg {
    fill: #d73a40;
}

.slide10_link {
    display: inline-block;
    width: 7%;
    margin: 1px 30px 1px;
}

.slide10_links p {
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    color: #767676;
    position: relative;
    z-index: 3;
}

.footer {
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    padding: 0px 0 40px;
}

.footer p {
    font-size: 20px;
}

.tit_grafic {
    text-align: center;
    font-size: 24px;
    font-family: 'Circe-Light';
    padding: 30px 0;
}

.grafic {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.grafic:after {
    content: '';
    clear: both;
    display: table;
}
/*
.grafic_fon {
    background: url(../img/grafic.png) no-repeat;
    height: 350px;
    width: 601px;
    display: block;
    background-size: 100%;
    float: left;
}
 */
.opisanie_grafic {
    float: right;
    font-size: 14px;
    margin: 100px 0 0 0;
}

.desc_grafic {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0 30px 95px;
    color: #848484;
}

.opisanie_grafic ul {}

.opisanie_grafic ul li {
    font-size: 18px;
    line-height: 31px;
    color: #545454;
    position: relative;
}

.opisanie_grafic ul .cent_li:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -45px;
    width: 30px;
    height: 2px;
    background: #24a0f7;
}

.opisanie_grafic ul .decent_li:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -45px;
    width: 30px;
    height: 2px;
    background: #ee3f3f;
}

.opisanie_grafic ul .class_li:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -45px;
    width: 30px;
    height: 2px;
    background: #ffd200;
}


#slide01 {
    display: none;
    background: red;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 99999;
}

.loaderArea {
    background: #0b1835;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.sk-folding-cube {
    width: 70px;
    height: 70px;
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}






.h1_ico {
    font-size: 80px;
    font-family: 'Circe-Regular';
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
    line-height: 100px;
    padding: 160px 0 0 0;
}

.con_but_up_video {
    font-size: 20px;
    font-family: 'Circe-Light';
    color: #fff;
    display: block;
    width: 115px;
    padding: 6px 0;
    text-align: center;
    margin: 30px auto 0;
    border-radius: 40px;
    /* background: #d73a40; */
    position: relative;
    z-index: 3;
    border-radius: 30px;
    border: 1px solid #fff;
}

.con_but_up_video:hover {
    border: 1px solid #d73a40;
}


.con_but_up {
    font-size: 26px;
    font-family: 'Circe-Light';
    color: #fff;
    display: block;
    width: 290px;
    padding: 12px 0;
    text-align: center;
    margin: 40px auto 0;
    border-radius: 40px;
    background: #d73a40;
    position: relative;
    z-index: 3;
}

.con_but_up:hover {
    background: #dd0d15;
}

.sector20 {
    width: 90%;
    padding: 0 5%;
    background-color: #fff;
    margin: 0;
    position: relative;
    z-index: 3;
}

.sector20 h3 {
    color: #0b1835;
    font-size: 48px;
    font-family: 'Circe-Regular';
    text-align: center;
    padding: 80px 0;
}

.sector20 ul {
    text-align: center;
    position: relative;
    padding: 40px 0 70px;
}

.sector20 ul li {
    display: inline-block;
    text-align: center;
    margin: 0 5%;
    vertical-align: top;
    position: relative;
}
/*
.sector20 ul li:nth-child(1):before {
    content: '';
    position: absolute;
    top: 35px;
    right: -85px;
    background: url(../img/str.png) no-repeat;
    width: 69px;
    height: 19px;
}

.sector20 ul li:nth-child(2):before {
    content: '';
    position: absolute;
    top: 35px;
    right: -100px;
    background: url(../img/str.png) no-repeat;
    width: 69px;
    height: 19px;
}
 */
.sector20 ul li p {
    font-size: 18px;
    padding: 20px 0 0 0;
}

.number_kol {
    width: 90px;
    height: 78px;
    text-align: center;
    border-radius: 300px;
    border: 1px solid #d73a40;
    font-size: 48px;
    display: inline-block;
    color: #d73a40;
    font-family: 'Circe-Regular';
    padding: 12px 0 0 0;
}


.sector2 {
    width: 90%;
    padding: 0 5%;
    background-color: #fff;
    margin: 0;
    position: relative;
    z-index: 3;
}

.sector2 h3 {
    color: #0b1835;
    font-size: 48px;
    font-family: 'Circe-Regular';
    text-align: center;
    padding: 80px 0;
}

.bar-container {
    width: 60%;
    height: 140px;
    margin: 10px auto;
}

.item-bar-wrap {
    height: 40px;
    width: 100%;
    float: left;
    background: #f47d82;
    position: relative;
    border-radius: 20px;
    /*overflow: hidden;*/
}

.item-bar-wrap .item-bar {
    display: inline-block;
    height: 40px;
    border-radius: 20px;
    transition: width .4s ease-in-out;
    background-color: #d73a40;
    animation: animate-stripes 3s linear infinite;
}

.item-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    /*overflow: hidden;*/
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    -webkit-transform: rotateZ(360deg);
}



@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -60px 0;
    }
}

.col_act_t {
    font-size: 22px;
    position: absolute;
    top: 60px;
    right: -24px;
    text-align: center;
}

.col_act_t p {
    color: #d73a40;
    font-family: 'Circe-Regular';
    font-size: 33px;
    line-height: 40px;
}


.col_ful_t {
    font-size: 22px;
    position: absolute;
    top: 60px;
    right: 0;
    text-align: center;
}

.col_ful_t p {
    color: #d73a40;
    font-family: 'Circe-Regular';
    font-size: 33px;
    line-height: 40px;
}

.sector2 ul {
    text-align: center;
    padding: 80px 0;
}

.sector2 ul li {
    font-size: 30px;
    display: inline-block;
    margin: 0 4%;
}

.sector2 ul li span {
    display: block;
    font-size: 55px;
    font-family: 'Circe-Bold';
    color: #d73a40;
}

.sector3 {
    width: 70%;
    padding: 0 15%;
    background-color: #fff;
    margin: 0;
    position: relative;
    z-index: 3;
}

.sector3 h3 {
    color: #0b1835;
    font-size: 48px;
    font-family: 'Circe-Regular';
    text-align: center;
    padding: 80px 0;
}

.sector3 ul {
    padding: 0 0 40px;
}

.sector3 ul li {
    font-size: 45px;
    color: #d73a40;
    font-family: 'Circe-Regular';
}

.sector3 ul li ul {
    margin: 30px 0 0 0;
}

.sector3 ul li ul li {
    font-size: 22px;
    margin: 2px 0;
    color: #000;
    font-family: 'Circe-ExtraLight';
    position: relative;
    padding: 0 0 0 30px;
}

.sector3 ul li ul li:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 20px;
    border-top: 1px solid #a7a5a5;
}



.sector4 {
    width: 70%;
    padding: 0 15%;
    background-color: #fff;
    margin: 0;
    position: relative;
    z-index: 3;
}

.sector4 h3 {
    color: #0b1835;
    font-size: 48px;
    font-family: 'Circe-Regular';
    text-align: center;
    padding: 80px 0;
}

.sector4 p {
    font-size: 26px;
    padding: 0 0 30px;
}

.link_valute {
    padding: 50px 0;
    text-align: center;
}

.link_valute a {
    display: inline-block;
    margin: 0 4%;
}


.sector5 {
    width: 70%;
    padding: 0 15% 60px;
    background-color: #fff;
    margin: 0;
    position: relative;
    z-index: 3;
    text-align: center;
}

.sector5 h3 {
    color: #0b1835;
    font-size: 48px;
    font-family: 'Circe-Regular';
    text-align: center;
    padding: 80px 0;
}

.sector5:after {
    content: '';
    clear: both;
    display: table;
}


.ct-chart {
    width: 40%!important;
    display: inline-block!important;
    margin: 0 0 0 5%;
    z-index: 3;
    vertical-align: middle;
}

.sector5 ul {
    display: inline-block;
    width: 40%;
    margin: 0 0 0 5%;
    vertical-align: middle;
}

.sector5 ul li {
    font-size: 25px;
    position: relative;
    padding: 0 0 0 20px;
    text-align: left;
}

.sector5_collor1:after {
    content: '';
    position: absolute;
    top: 17px;
    left: -25px;
    width: 30px;
    border-top: 2px solid #ed4249;
}

.sector5_collor2:after {
    content: '';
    position: absolute;
    top: 17px;
    left: -25px;
    width: 30px;
    border-top: 2px solid #f4767b;
}

.sector5_collor3:after {
    content: '';
    position: absolute;
    top: 17px;
    left: -25px;
    width: 30px;
    border-top: 2px solid #0bafec;
}

.sector5_collor4:after {
    content: '';
    position: absolute;
    top: 17px;
    left: -25px;
    width: 30px;
    border-top: 2px solid #0b88b6;
}

.sector5_collor5:after {
    content: '';
    position: absolute;
    top: 17px;
    left: -25px;
    width: 30px;
    border-top: 2px solid #ffea00;
}

.sector5 .ct-series-e .ct-slice-pie {
    fill: #ed4249;
}

.sector5 .ct-series-d .ct-slice-pie {
    fill: #f4767b;
}

.sector5 .ct-series-c .ct-slice-pie {
    fill: #0bafec;
}

.sector5 .ct-series-b .ct-slice-pie {
    fill: #0b88b6;
}

.sector5 .ct-series-a .ct-slice-pie {
    fill: #ffea00;
}




.link_cont_now {
    font-size: 30px;
    font-family: 'Circe-Light';
    color: #d73a40;
    padding: 12px 60px;
    border: 1px solid #d73a40;
    border-radius: 40px;
    display: inline-block;
    margin: 140px 0 0 0;
}

.link_cont_now:hover {
    background: #d73a40;
    color: #fff;
}





.sector6 {
    width: 70%;
    padding: 0 15% 60px;
    background-color: #fff;
    margin: 0;
    position: relative;
    z-index: 3;
}

.sector6 h3 {
    color: #0b1835;
    font-size: 48px;
    font-family: 'Circe-Regular';
    text-align: center;
    padding: 50px 0;
}


.sector6 ul {
    padding: 30px 0;
}

.sector6 ul li {
    display: block;
    padding: 15px 0;
}

.sector6 ul li+li {
    border-top: 1px dashed #9B9FA7;
}

.sector6 ul li span {
    font-size: 30px;
    font-family: 'Circe-Light';
    display: block;
    position: relative;
    padding: 0 60px;
    cursor: pointer;
    transition: all .15s linear;
}

.sector6 ul li span:hover {
    color: #d73a40;
}
/*
.sector6 ul li span:after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background: url(../img/plus.png) no-repeat;
    top: 7px;
    left: 15px;
}

.sector6 ul li span.active:after {

    background: url(../img/minus.png) no-repeat;
}
 */
.sector6 ul li .desc_ul_faq {
    display: none;
    font-size: 20px;
    padding: 20px 60px 0;
}


.sector_page h3 {
    text-align: center;
    font-size: 60px;
    color: #0b1835;
    padding: 30px 0 100px;
    font-family: 'Circe-Regular';
}

.sector_page:after {
    content: '';
    clear: both;
    display: table;
}

.sector_page {
    width: 70%;
    padding: 200px 15% 100px;
    z-index: 3;
    position: relative;
    background: #fff;
}

.desc_page_left {
    font-size: 24px;
    float: left;
    width: 40%;
}

.desc_page_left h4 {
    font-size: 36px;
    font-family: 'Circe-Light';
}

.desc_page_left p {
    padding: 10px 0;
}


.form_feedback {
    width: 50%;
    float: left;
    margin: 0 0 0 10%;
}

.form_feedback .inp_form_f {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #0b1835;
    font-family: 'Circe-ExtraLight';
    font-size: 26px;
    color: #d73a40;
    transition: all .15s linear;
    border-radius: 20px;
    display: block;
    margin: 0 0 15px;
    outline: none;
    background-color: transparent;
}

.form_feedback .inp_form_f:focus,
.form_feedback .inp_form_f:hover {
    border: 1px solid #d73a40;
}

.form_feedback .text_form_f {
    width: 100%;
    height: 140px;
    resize: none;
    padding: 12px 40px;
    border: 1px solid #0b1835;
    font-family: 'Circe-ExtraLight';
    font-size: 26px;
    color: #d73a40;
    transition: all .15s linear;
    border-radius: 20px;
    display: block;
    margin: 0 0 15px;
    outline: none;
    background-color: transparent;
}

.form_feedback .text_form_f:focus,
.form_feedback .text_form_f:hover {
    border: 1px solid #d73a40;
}

.form_feedback .sub_form_f {
    background-color: transparent;
    padding: 12px 60px;
    border: 1px solid #d73a40;
    font-family: 'Circe-Light';
    font-size: 26px;
    color: #d73a40;
    transition: all .15s linear;
    border-radius: 40px;
    margin: 0 0 15px;
    outline: none;
    cursor: pointer;
}

.form_feedback .sub_form_f:hover {
    background-color: #d73a40;
    color: #fff;
}


.send_mail_ok {
    font-size: 26px;
    text-align: center;
    padding: 150px 0 0;
}

.send_mail_no_ok {
    font-size: 26px;
    text-align: center;
    padding: 150px 0 0;
    color: #d73a40;
    font-family: 'Circe-Light';
}

.desc_ul_faq p {
    padding: 10px 0;
}

.form_token {
    position: relative;
    z-index: 3;
    text-align: center;
    border-top: 1px dashed #253454;
    width: 50%;
    margin: 40px auto 0;
}

.inp_ico_index {
    display: block;
    width: 60%;
    margin: 0 auto;
    font-family: 'Circe-ExtraLight';
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    font-size: 20px;
    margin: 30px auto;
    text-align: center;
    outline: none;
    color: #fff;
    transition: all .15s linear;
}

.inp_ico_index:focus,
.inp_ico_index:hover {
    border-bottom: 1px solid rgb(215, 58, 64);
}

.inp_ico_index::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.inp_ico_index::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.inp_ico_index:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.inp_ico_index:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Circe-ExtraLight';
}

.inp_ico_index:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.inp_ico_index:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.inp_ico_index:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.inp_ico_index:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.but_apt_balance {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    font-family: 'Circe-ExtraLight';
    font-size: 18px;
    margin: 0 0 60px;
    cursor: pointer;
    transition: all .15s linear;
    outline: none;
}

.but_apt_balance:hover {
    border: 1px solid rgb(215, 58, 64);
}



.form_balance {
    display: none;
    z-index: 3;
    position: relative;
    text-align: center;
    width: 50%;
    margin: 40px auto 0;
}

.inp_ico_balance {
    display: block;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 45px;
    font-family: 'Circe-Bold';
    text-align: center;
    width: 100%;
    outline: none;
}

.desc_form_balance {
    font-size: 20px;
    padding: 0 0 60px 0;
}

.shadow_block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

.shadow_block_video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

.block_cont_modal {
    width: 400px;
    height: 300px;
    padding: 3%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99999;
}

.shadow_block_video .block_cont_modal {
    padding: 0;
    width: 60%;
    height: 60vh;
}

.block_cont_modal h3 {
    font-size: 40px;
}

.desc_modal_block {
    height: calc(100vh - 60%);
    overflow-y: auto;
}

.desc_modal_block .but_check .css-label span {
    margin: 0!important;
    font-size: 20px!important;
}

.desc_modal_block .but_check .css-label a {
    color: #d73a40;
}

.overflow {
    overflow-y: hidden;
}
/*
.close_modal {
    width: 32px;
    height: 31px;
    background: url(../img/close.png) no-repeat 0 0;
    float: right;
    cursor: pointer;
}
 */
.close_modal:hover {
    background-position: -32px 0;
}
/*
.shadow_block_video .close_modal {
    margin: 0px -40px 0 0;
    background: url(../img/close.png) no-repeat -64px 0;
}
 */
.shadow_block_video .close_modal:hover {
    background-position: -32px 0;
}

.but_check {
    padding: 10px 0 0 0;
}

.but_check span {
    margin: 0 0 0 5px;
    font-size: 16px;
}

.but_check p {
    font-size: 16px;
}

.form_eth {
    display: none;
    z-index: 3;
    position: relative;
    text-align: center;
    width: 50%;
    margin: 40px auto 0;
}

.desc_eth {
    font-size: 20px;
    padding: 0 0 10px;
}

.warning_inp {
    font-size: 18px;
    font-family: 'Circe-Regular';
    color: #d73a40;
}


input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 30px;
    height: 25px;
    display: block;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 0 25px 0;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -25px;
}
/*
label.css-label {
    background-image: url(../img/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 */



.team_man {
    padding: 124px 0 0;
    margin-top: -64px;
}

.team_man:after {
    content: '';
    clear: both;
    display: table;
}

.left_bl_t {
    float: left;
    text-align: center;
}

.left_bl_t img {}

.left_bl_t p {
    font-size: 21px;
    margin: 15px 0 0 0;
}

.right_bl_t {
    float: left;
    display: block;
    width: calc(100% - 350px);
    margin: 0 0 0 80px;
}

.right_bl_t .dolgnost {
    font-size: 25px;
    color: #d73a40;
    font-family: 'Circe-Light';
    padding: 0 0 35px;
}

.right_bl_t p {
    font-size: 17px;
    padding: 10px 0;
    margin-bottom: -15px;
}

@media only screen and (max-width: 1366px) {

    .sector1 {
        height: auto;
    }
    .section_91 {
        font-size: 18px;
        max-width: 100px;
    }

    .section_92 {
        font-size: 18px;
        margin-left: 0;
        min-width: 210px;
    }
    .section_93 {
        font-size: 18px;
        min-width: auto;
    }
}

@media only screen and (max-width: 930px) and (min-width: 760px) {

    .sector1 {
        height: auto;
    }
    .section_91 {
        font-size: 18px;
        margin-left: 10px;
        line-height: 20px;
        min-width: 100px;
    }

    .section_92 {
        font-size: 18px;
        margin-left: 5px;
        line-height: 20px;
        min-width: 190px;
    }
    .section_93 {
        font-size: 18px;
        line-height: 20px;
        min-width: 210px
    }
}

@media all and (max-width: 860px) {
    .logo {
        margin: 20px 0!important;
        text-align: center;
        float: none;
        width: 100%;
        display: block;
    }
    .head_menu ul {
        text-align: center;
        float: none;
        margin: 20px 0!important;
    }
    .head_menu ul li {
        float: none;
        display: inline-block;
        padding: 8px 15px;
    }
    .head_menu ul li+li:after {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .slide10_links {
        margin-left: -15px;
    }
    .slide10_link {
        width: calc(25% - 23px);
        margin: 0 10px;
    }
    .grafic {
        width: auto;
    }
    .grafic_fon {
        max-width: 100%;
    }
}

@media only screen and (max-width: 760px) and (min-width: 640px) {

    .sector1 {
        height: auto;
    }
    .section_91 {
        font-size: 16px;
        margin-left: 10px;
        line-height: 20px;
        min-width: 100px;
    }
    .section_9 {
        width: 100%;
    }
    .section_92 {
        font-size: 16px;
        margin-left: 5px;
        line-height: 20px;
        min-width: 170px;
    }
    .section_93 {
        font-size: 16px;
        line-height: 20px;
        min-width: 210px
    }
}

@media all and (max-width: 640px) {
    .paddings {
        display: none;
    }
    .form_subscribe {
        margin: 25px auto;
    }
    .slide10_link {
        width: calc(33% - 22px);
    }
}

@media only screen and (max-width: 640px) and (min-width: 320px) {

    .head_menu {
        position: relative;
    }
    .sector1 {
        height: auto!important;
    }

    .slide1_logo,
    .slide8_logo {
        width: 80%;
    }
    .sector1 h1 {
        padding: 0 0 15px 0;
        font-size: 56px!important;
    }
    .sector1 h2 {
        font-size: 24px;
        line-height: 30px;
        padding: 15px 0 30px;
    }
    .date_start {
        font-size: 18px;
    }
    #timer2d61c9af123262841bda2a33ac1ca7e2 .timer-slide-inner {
        font-size: 46px!important;
    }
    #timer2d61c9af123262841bda2a33ac1ca7e2 {
        min-width: 100%!important;
    }
    .bonus_start {
        font-size: 14px;
        padding: 10px 0 30px;
    }
    .form_subscribe {
        width: 90%;
    }
    .form_subscribe .int_sub {
        display: block;
        float: none;
        padding: 12px 15px;
        width: calc(100% - 30px);
        text-align: center;
        font-size: 20px;
    }
    .form_subscribe .sub_sub {
        width: 100%;
        display: block;
        float: none;
        margin: 15px auto 18px!important;
    }
    #timer-number-2d61c9af123262841bda2a33ac1ca7e2-days:after,
    #timer-number-2d61c9af123262841bda2a33ac1ca7e2-hours:after,
    #timer-number-2d61c9af123262841bda2a33ac1ca7e2-minutes:after,
    #timer-number-2d61c9af123262841bda2a33ac1ca7e2-seconds:after {
        font-size: 12px;
    }
    .video {
        padding-bottom: 20%;
        height: 230px;
    }
    /* #bg_video {
        background: url(../img/video_fon2.jpg) no-repeat center;
    } */
    .section3 {
        height: auto;
        width: 90%;
        padding: 0 5%;
    }
    .section3 h3 {
        font-size: 36px;
    }
    .description_sect3 {
        font-size: 18px;
    }
    .about_graph svg {
        display: none;
    }
    .about_graph svg.about-graph-mobile-svg {
        display: block;
    }
    .about-graph-mobile-svg .st6 {
        fill: #000!important;
    }
    .section4 h3 {
        font-size: 40px;
    }
    .section4 ul {
        width: 90%;
    }
    .section4 ul li {
        font-size: 18px;
        padding: 0 0 35px;
    }
    .icons_features {
        float: none;
        position: relative;
        margin: 0 auto 20px;
    }
    .desc_features {
        margin: 0;
    }
    .desc_features p {
        font-size: 23px;
        text-align: center;
        line-height: 30px;
        padding: 0 0 15px;
    }
    .section5 h3 {
        font-size: 36px;
        padding: 35px 0;
    }
    .desc_sect5 {
        font-size: 18px;
    }
    .grafic {
        width: 90%;
    }
    .grafic_fon {
        height: 0;
        width: 100%;
        display: block;
        background-size: 100%;
        float: none;
        position: relative;
        padding-bottom: 65%;
    }
    .opisanie_grafic {
        float: none;
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 30px;
        width: calc(100% - 30px);
    }
    .desc_grafic {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }
    .section6 h3 {
        font-size: 36px;
        padding: 35px 0;
    }

    .desc_icons_section6 {
        float: none;
        margin: 0 auto;
        width: 70%;
    }

    .desc_text_sect6 {
        float: none;
        width: 100%;
        margin: 0;
        font-size: 18px;
        padding: 0 0 20px 0;
    }
    .desc_text_sect6 p {
        font-size: 30px;
        margin: 20px 0 25px;
        line-height: 36px;
    }
    .section7 h3 {
        font-size: 36px;
        color: #d73a40;
        padding: 35px 0;
    }
    .section7 ul li {
        margin: 10px 0 30px;
    }
    .date_subsc_sect7 {
        width: 100%;
        float: none;
        font-size: 24px;
    }
    .date_subsc_sect7 p {
        font-size: 36px;
    }
    .section7 ul li ul {
        margin: 30px 0 0 0;
    }
    .section7 ul li ul li {
        font-size: 20px;
        padding-left: 30px;
    }
    .section7 ul li ul li:after {
        top: 13px;
        left: 0;
        width: 20px;
    }
    #white {
        padding: 50px 0 0 0;
    }
    .section8 h3 {
        font-size: 36px;
    }
    .whitepaper_link {
        font-size: 18px;
        padding: 12px 20px;
        margin: 5px 3px;
    }
    .white_link {
        margin: 0;
    }
    .section8 {
        height: auto;
        padding: 0 10% 50px;
    }
    .section_9 {
        width: 95%;
        margin-bottom: 10px;
        margin-right: auto;
        background-color: rgb(229, 231, 236);
        opacity: 0.5;
        border-radius: 4px;
    }
    .section_91 {
        font-size: 12px;
        margin-left: 5px;
        line-height: 20px;
        min-width: 60px;
    }

    .section_92 {
        font-size: 12px;
        margin-left: 5px;
        line-height: 20px;
        min-width: 103px;
    }
    .section_93 {
        font-size: 12px;
        line-height: 20px;
    }

    .section9 h3 {
        font-size: 36px;
        padding: 50px 0 35px;
    }
    .section9 {
        width: 100%;
        /*padding:0 5%;*/
    }
    .section9 ul {
        width: 100%;
    }
    .section9 ul li {
        margin: 0 0 40px;
        width: 80%;
    }

    .user_name {
        font-size: 26px;
        margin: 10px 0 0 0;
    }
    .link_more_team a {
        width: 260px;
        padding: 12px 0;
    }
    .link_more_team {
        padding: 20px 0;
    }
    .section10 h3 {
        font-size: 30px;
        padding: 35px 0;
    }
    .logo_mera {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0 45px;
    }
    .section11 h3 {
        font-size: 36px;
        padding: 50px 0 35px;
    }
    .form_subscribe .int_sub {
        float: none;
        font-size: 20px;
        padding: 12px 30px;
        width: calc(100% - 60px);
        text-align: center;
    }
    .form_subscribe .sub_sub {
        float: none;
        margin: 15px 0 0;
        width: 100%;
    }
    .slide8_links {
        padding: 30px 0;
    }
    .slide8_link {
        width: 23%;
    }
    .slide10_links {
        padding: 30px 0;
    }
    .slide10_link {
        width: 23%;
    }

    .logo_mera span:before,
    .logo_mera span:after,
    .sector1 h2 span:before,
    .sector1 h2 span:after {
        display: none;
    }

    .new_but_link_index {
        margin: 10px 0!important;
    }

    .modal_block_one {
        width: calc(100% - 50px)!important;
        background: #fff;
        padding: 25px!important;
        color: #000;
        font-size: 15px!important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0!important;
        margin: 0 auto;
    }
    .modal_block_one form {
        text-align: center!important;
    }
    input.adbalance_new {
        width: 100%!important;
        font-size: 21px!important;
        font-family: Circe-Regular;
        padding: 11px 0 0 0!important;
        border: none;
        outline: none;
        text-align: center;
    }

    .block_cont_modal {
        width: calc(100% - 50px)!important;
    }

    .but_check {
        word-wrap: break-word;
    }

    .but_check span {
        word-wrap: break-word;
    }
    .but_check p {
        word-wrap: break-word;
    }
}




.blink_all_p {
    text-align: center;
    margin: 40px 0;
}

.new_but_link_index {
    border: 1px solid #fff;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    z-index: 999;
    position: relative;
    border-radius: 30px;
    margin: 0 20px;
}

.new_but_link_index:hover {
    border: 1px solid #d73a40;
}


.new_but_lin {
    border: 1px solid #d73a40;
    padding: 10px 20px;
    background: #d73a40;
    color: #fff;
    z-index: 999;
    position: relative;
    border-radius: 40px;
    margin: 30px auto;
    font-size: 20px;
    font-family: Circe-Light;
    text-align: center;
    width: 30%;
}

.new_but_lin:hover {
    background: #ec232a;
}

#modal_one_w1,
#modal_one_w2 {
    display: none;
}

.obolochka {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal_block_one {
    width: 600px;
    background: #fff;
    padding: 25px 40px;
    color: #000;
    font-size: 18px;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    margin: 0 auto;
}

.modal_block_one h4 {
    font-size: 28px;
    line-height: 33px;
    width: 80%;
    padding: 15px 0 20px;
}

.privat_code {
    color: #ea5353;
    word-wrap: break-word;
}

.modal_block_one p {
    font-size: 15px;
    color: #9e9e9e;
    padding: 15px 0 0 0;
}


.new_inl_moad {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 1px solid #969696;
    font-family: Circe-ExtraLight;
    margin: 0 0 20px;
    padding: 5px 0;
}

input.but_new_inl_moad {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    font-family: Circe-ExtraLight;
    background: #d73a40;
    border-radius: 30px;
    padding: 7px 0;
    margin: 0 0 25px;
}

input.adbalance_new {
    width: 410px;
    font-size: 18px;
    font-family: Circe-Regular;
    padding: 0 20px;
    border: none;
    outline: none;
}


.osob_li {
    width: 29%!important;
    margin: 0 2% 50px!important;
}

.osob_li .user_photo {
    width: 86%!important;
    margin: 0 auto!important;
}

.osob_li .user_name {
    font-size: 26px!important;
}




.doc_html {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    text-align: justify;
}

.doc_html h1 {
    font-size: 45px;
    padding: 60px 0 0 0;
    color: #f35656;
}

.doc_html h2 {
    font-size: 30px;
    padding: 40px 0 30px;
}

.doc_html h3 {
    font-family: Circe-Regular;
    padding: 0 0 20px;
}

.doc_html p {
    padding: 0 0 20px;
}
